@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: theme(colors.zinc.50);
  --foreground: theme(colors.slate.600);
  --line-color: theme(colors.neutral.200);
  --text-secondary: #0a254059;
  --accent: #ff5733;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.connector:after {
  content: "";
  position: absolute;
  height: 50%;
  width: 1.5em;
  right: 0;
}

.connector:before {
  content: "";
  border-top: 1px solid var(--line-color);
  position: absolute;
  top: calc(50% - 8px);
  width: 1.5em;
  left: 0;
}

.connector:nth-child(even):after {
  border-bottom: 1px solid var(--line-color);
  top: -7.5px;
  border-right: 1px solid var(--line-color);
}

.connector:nth-child(odd):not(:last-child):after {
  border-top: 1px solid var(--line-color);
  top: calc(50% - 7.5px);
  border-right: 1px solid var(--line-color);
}

.connector:nth-child(even):not(:last-child) {
  padding-bottom: 4rem;
}

.winner {
  @apply text-accent bg-gradient-to-t from-orange-50 to-white;
}
