@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: theme(colors.zinc.50);
  --foreground: #0a2540;
  --line-color: theme(colors.neutral.200);
  --text-secondary: #0a254059;
  --text-button: "rgba(10, 37, 64, 0.75)";
  --accent: #ff5733;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
